@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', self-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* UTILITYYYY *****************/
.klasicanTekst {
    color: #93cb52;
}

.centriraj{
 text-align: center;
}

.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
.bg-dark{
    color: #f4f4f4;
    background-color: #333;
}
bg-

.h-1 {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.h-2{
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.h-3{
 font-size: 1rem;
    margin-bottom: 0.2rem;
    line-height: 1.1;
}

.glavniTekst {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: white;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #78a434;
}

.btnDark {
    background: #333;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btnDark:hover{
    color: #333;
    background-color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.bg-primary{
    background-color: #93cb52;
    color: #fff;
}



.kontejner {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem ;}
.p-2{padding: 2rem ;}
.p-3{padding: 3rem ;}

/* NAVBAR *****************************************************************************/
#navbar {
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;

}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    transition: 300ms;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 5px;
}

/* pRIKAZ U HEDERU ******************************************************************/
#heder {
    background: url('assets/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

.kontentHeder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    /*  position: absolute;*/

    background: rgba(0, 0, 0, 0.5);
}

/* sta mi radimo*********************************************************************/
.delovi{
    display: flex;

}

.deo{
    flex: 1;
    text-align: center;
    padding: 1rem;


}

#sta .delovi div i{
    background: #93db62;
    padding: 1rem;
    border-radius: 50%;
}
/* ko smo mi*********************************************************************/
#ko{
    display: flex;


}

#ko div{
    flex:1;
}

#ko div h2{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0;
    padding: 0;
}



#ko .slika{
    background-image: url('assets/people.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#ko .lista{
    list-style: none;
    margin: 0;
    padding: 0;
}


#ko .lista li{

    border-bottom: #444 dotted 1px;

}

#ko div h3{

    text-align: left;
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;

}

/* klijenti*********************************************************************/
#klijenti .delovi{
    display: flex;
}

#klijenti .deo{
    flex: 1;
}

#klijenti img{

    display: block;
    margin: auto;
    width: 60%;
}
/* kontakt*********************************************************************/
.kontaktForma{
   display: flex;
}
.kontejnerForme{
    text-align: left;
}

#con .kontaktForma div form div{
    text-align: left;
}

#con  label{
    display: block;
}

#con input,
#con textarea{
    width: 100%;
    padding: 0.5rem;
}

.kontaktForma .kontejnerForme,
.kontaktForma  .mapa{
    flex:1;
}
iframe{
    width: 100%;
    height: 100%;
}
footer p{
    padding: 0.5rem 0;
    margin: 0;
    height: 100%;
}
